line {
    stroke: black
}

circle {
    stroke: blue;
}

polyline {
    stroke: red;
    stroke-width: 1;
    fill-opacity: 0;
}

.stop {
    fill: red;
}

.centrePoint {
    fill: red;
}

.bigCircle {
    fill-opacity: 0;
}

.endCircle {
    fill: yellow;
}

.traceLine {
    stroke-width: 2;
    stroke: black;
}