.radius {
    stroke: red;
    stroke-width: 1;
}

.stop {
    fill: red;
}

.centrePoint {
    fill: red;
    stroke: blue;
}

.bigCircle {
    fill: none;
    stroke: blue;
}

.endCircle {
    fill: yellow;
    stroke: blue;
}

.traceLine {
    fill: none;
    stroke-width: 2;
    stroke: black;
}